@import url("https://fonts.googleapis.com/css2?family=Lexend:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,900&display=swap");
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {}
body {
    font-family: Lexend, sans-serif;
}
/* COLORS  */
/*Nav color #42A6DA */
/* #43BC93  */
/* 45a8d5ff */
/* NAVBAR  */
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.spaceAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.spaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header {
    width: 100%;
    height: 6vh;
    background-color: #45a8d5ff;
    padding: 0 7em;
}
.cookiesDetails {
    color: #fff;
    font-size: 0.85em;
}
.cookiesDetails p {
    font-weight: 450;
}
.cookiesDetails a {
    padding-left: 0.5em;
    color: rgb(243, 227, 227);
    font-weight: bold;
}
.cookiesAccept {
    font-size: 0.8em;
    color: #fff;
}
.cookiesAccept a {
    font-weight: bold;
    color: #fff;
}
/* Hero */
.hero {
    background-color: #FBF9FA;
    background-image: url(./Images/Svgs/circles.svg);
    background-repeat: no-repeat;
    background-position: -22% 50%;
    background-size: 126%;
    height: auto;
    width: 100%;
}
.leftHero {
    width: 50%;
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
    padding-left: 7em;
    padding-top: 2em;
}
.logo {
    position: relative;
}
.logo img {
    width: 108%;
}
.heroDetails {
    padding-bottom: 3em;
}
.heroDetails h1 {
    font-size: 2.5em;
    padding-bottom: 1em;
    padding-top: 1em;
    line-height: 49px;
    position: relative;
}
.heroDetails h1 span:nth-child(1) {
    color: #1bcc97ff;
    /* border-bottom: .15em solid #1bcc97ff; */
}
.heroDetails h1 span:nth-child(1):before {
    content: "";
    position: absolute;
    width: 297px;
    height: 5px;
    transform: skew(0deg) translateX(0%) rotate(359deg);
    background: #1bcc97ff;
    z-index: -1;
    top: 87px;
    z-index: 1;
}
.heroDetails h1 span:nth-child(2) {
    color: #45a8d5ff;
}
.heroDetails h1 span:nth-child(3) {
    color: #45a8d5ff;
}
.heroDetails p {
    font-weight: 500;
    font-size: 1.03em;
    line-height: 23px;
}
.rightHero {
    width: 50%;
}
.rightHero img {
    width: 45%;
    position: relative;
    top: -23px;
    right: -17px;
    border-radius: 29px;
    border-color: #fff;
    border-style: solid;
    box-shadow: 0 0 30px 0 #afafafa3;
}
.heroButtons {
    background-color: #fff;
    border-radius: 30px;
    z-index: 1;
    padding: 1em 1.3em;
    border:1px solid rgb(238, 238, 238);
}
.heroButtons button:nth-child(1) {
    background: linear-gradient(90deg, #1bcc97ff 10%, #45a8d5ff 90%);
    color: #fff;
    padding: 1.2em 1.5em;
    border-style: none;
    border-radius: 16px;
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 0 12px 0 #E0E0E0;
}
.heroButtons button:nth-child(1) img {
    padding-right: 1em;
}
.heroButtons button:nth-child(2) {
    margin-left: 1em;
    background: #fff;
    color: #45a8d5ff;
    padding: 1.2em 1.5em;
    border: 4px solid transparent;
    border-radius: 16px;
    font-size: 1em;
    font-weight: 700;
    position: relative;
    background-clip: padding-box;
    cursor: pointer;
    box-shadow: 0 0 12px 0 #E0E0E0;
}
.heroButtons button:nth-child(2)::after {
    position: absolute;
    padding: 1.2em 1.5em;
    top: -4px;
    bottom: -4px;
    left: -4px;
    right: -4px;
    /* padding: 1.2em 1.5em; */
    background: linear-gradient(90deg, #1bcc97ff 10%, #45a8d5ff 90%);
    content: "";
    z-index: -1;
    border-radius: 16px;
}
.heroButtons button:nth-child(2) span {
    background: -webkit-linear-gradient(0deg, #1bcc97ff 0%, #45a8d5ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.learn {
    padding-top: 3em;
    color: rgb(92, 92, 92);
}
/* Qualifications */
.qualifications {
    padding: 4em 7em;
}

.wholeQualifications h2,
.wholeExperience h2,
.wholeRegistration h2,
.wholeAchievments h2 {
    position: relative;
    padding-bottom: 1em;
}

.wholeQualifications h2:before,
.wholeExperience h2:before,
.wholeRegistration h2:before,
.wholeAchievments h2:before {
    content: "";
    position: absolute;
    width: 175px;
    height: 3px;
    transform: skew(0deg) translateX(0%) rotate(360deg);
    background: #000000;
    z-index: -1;
    top: 33px;
    z-index: 1;
}

.wholeExperience h2:before {
    width: 138px;
}

.wholeRegistration h2:before {
    width: 158px;
}

.wholeAchievments h2:before {
    width: 158px;
}

.singleQualification:nth-child(1) {
    padding-bottom: 2.3em;
    justify-content: flex-start;
    align-items: flex-start;
}

.singleQualification {
    justify-content: flex-start !important;
    align-items: flex-start;
    padding-bottom: 1em;
}

.qualificationDetails {
    padding-left: 1em;
}

.qualificationDetails p {
    font-weight: 500;
}

.qualificationDetails p:nth-child(2) {
    color: rgb(114, 114, 114);
    font-weight: 500;
}

.wholeSectionUnderQ,
.wholeAchievments {
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 3em;
}

.wholeSectionUnderQ .wholeRegistration {
    padding-right: 4em;
}

.quote {
    padding-bottom: 2em;
    width: 67%;
}

.quote p {
    font-weight: 500;
}

.quote p span,
.wholeAchievments .qualificationDetails p span {
    color: #1bcc97ff;
    font-weight: bold;
}

.wholeAchievments .qualificationDetails p {
    width: 65%;
}

.quote p {
    padding-left: 1.5em;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
}

.wholeAchievments .singleQualification:nth-child(3),
.wholeAchievments .singleQualification:nth-child(4) {
    padding-left: 4em;
}
img[alt="points"]{
    padding-top: 0.3em;
}
/* Booking  */
.booking {
    background-image: url("./Images/Pngs/Booking-01.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: center;
    height: 60vh;
}

.bookingLeftSide {
    width: 65%;
    padding-left: 5em;
    padding-right: 20em;
}

.bookingRightSide {
    width: 30%;
    justify-content: center;
    align-items: center;
}

.bookingRightSide .heroButtons {
    box-shadow: 0 0 30px 0 #afafaf5e;
    padding: 1em 1em;
    justify-content: flex-start;
    width: fit-content;
}

.bookingLeftSide h1:nth-child(1) {
    padding-bottom: 1em;
}

.bookingLeftSide h1:nth-child(1) span {
    color: #1bcc97ff;
}

.bookingLeftSide h1:nth-child(2) span {
    color: #45a8d5ff;
    position: relative;
}

.bookingLeftSide h1:nth-child(2) span:before {
    content: "";
    position: absolute;
    width: 202px;
    height: 5px;
    transform: skew(0deg) translateX(0%) rotate(359deg);
    background: #45a8d5ff;
    z-index: -1;
    top: 41px;
    z-index: 1;
}

.bookingRightSide small {
    padding-left: 1em;
    color: #777777;
}

/* Footer */
footer {
    height: 7vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 7em;
}

.copyrights p {
    color: rgb(114, 114, 114);
    font-size: 0.9em;
}

.links a {
    color: #1bcc97ff;
    font-weight: 500;
    font-size: 0.9em;
}

.links a:nth-child(2) {
    padding-left: 1em;
}

